[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
HanTa = "*"
nltk = "*"
pandas = "*"
python-slugify = "*"
requests = "*"
seaborn = "*"
session_info = "*"
stylecloud = "*"

[dev-packages]
jupyterlab = "*"

[requires]
python_version = "3.9"
